*{
    padding: 0;
    margin:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Elementos */
header{
    background-color: aliceblue;
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    height: 8rem;
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    box-shadow: 0.1rem 0.1rem 0.25rem 0.3rem black;
}
body {
    background: linear-gradient(to left, rgba(153, 150, 155, 0.884), rgb(206, 205, 206) );
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    width: 100%;
    color: black;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    font-family:Arial, Helvetica, sans-serif;
    color: gray;
}

/* Topo da pagina */
a{
    text-decoration: none;
    color: inherit;
}
#logo{
    float: left;
    display: flex;
    position: relative;
    left:-20px;
    top: 1px;
}

/*barra de pesquisa*/
.topo{
    width: 100%;
    float: left;
    display: flex;
}
.barra_pesquisa{
    float: left;
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    width: 400px;
    margin: 20px;
}
.search-bar{
    float: left;
    display: flex;
    background: none;
    outline: none;
    border: none;
    width: calc(100% - 30px);
}
.bsearch{
    float: left;
    display: flex;
    border: none;
    margin: none;
    padding: none;
    background: none;
    cursor: pointer;
    
}

/*botoes*/
.botoes, .filtro{
    float: left;
    display: inline;
}
.bfiltro{
    float: left;
    display: inline;
}
.bfiltro, .blogin{
    float: left;
    display: inline;
    border-radius: 40px;
    font-size: 20px;
    padding: 7px;
    margin: 20px;
    color: white;
    background-color: black;
    border: none;
}
.bfiltro:hover, .blogin:hover{
    background-color: rgb(11, 52, 185);
}
.bi-person-circle{
    font-size: 50px;
    padding: 7px;
    margin: 8px;
    float: left;
    display: inline;
    cursor: pointer;
}

/*destaques*/
.destaques{
    text-align: center;
}

/*cursos*/
.imagemSobre{
    display: flex;
    justify-content: center;  
    align-items: center;
    height: 100%;            
}
div.cursos img{
    width: 270px;
    height: 140px;
}
.cursos{
   margin: 0 auto;
   background-color: aliceblue;
   border: 10px aliceblue solid;
   box-shadow: 0.2rem 0.5rem 0.25rem 0.3rem black;
   border-radius: 20px;
}
.sobre, .materias{
    width: 100%;
    float: left;
    display: flex;
    margin-bottom: 60px;
    cursor: pointer;
}
h2{
    margin-top: 80px;
}

/* sobre */
.sobre{
    float: left;
}
.sobre div{
    margin: 0 20px;
}


/* materias2 */
.materias{
    float: left;
}

/* informações disciplina */

